<!-- Extra -->
<div id="marketing" class="container">
  <div class="row">
    <div class="3u">
      <app-content-list [contenListName]="'mkt1'" [parentId]="pageId"></app-content-list>
    </div>
    <div class="3u">
      <app-content-list [contenListName]="'mkt2'" [parentId]="pageId"></app-content-list>
    </div>
    <div class="3u">
      <app-content-list [contenListName]="'mkt3'" [parentId]="pageId"></app-content-list>
    </div>
    <div class="3u">
      <app-content-list [contenListName]="'mkt4'" [parentId]="pageId"></app-content-list>
    </div>
  </div>
</div>
<!-- /Extra -->

<!-- Main -->
<div id="main-home" class="container main-home">
  <div class="row">
    <div class="6u">
      <app-content-list [contenListName]="'left-6u'" [parentId]="pageId"></app-content-list>
    </div>
    <div class="3u">
      <app-content-list [contenListName]="'center-3u'" [parentId]="pageId"></app-content-list>
    </div>
    <div class="3u">
      <app-content-list [contenListName]="'right-3u'" [parentId]="pageId"></app-content-list>
    </div>
  </div>
</div>
<!-- Main -->
